body {
    background-color: #4d4dff;
}

/* links */
.wrapper a,
.wrapper a:focus,
.wrapper a:hover {
    color: #ffffff;
}

.lead {
    font-size: 18px;
}

/* vertical middle */
.wrapper {
    width: 400px;
    height: 320px;
    padding: 0px 20px;
    position: absolute;
    top: 50%;
    margin-top: -160px;
    left: 50%;
    margin-left: -200px;
    color: #ffffff;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    /* for small screen */
    h1 {
        font-size: 24px;
    }

    .lead, .alert {
        font-size: 12px;
    }

    .wrapper {
        width: 280px;
        height: 240px;
        margin-top: -100px;
        margin-left: -140px;
    }
}

@media only screen and (min-width: 700px) {
    /* for tablet */
    h1 {
        font-size: 48px;
    }

    .lead {
        font-size: 22px;
    }

    .wrapper {
        width: 700px;
        margin-left: -350px;
    }
}

@media only screen and (min-width: 1000px) {
    /* for desktop */
    h1 {
        font-size: 60px;
    }

    .lead {
        font-size: 28px;
    }

    .wrapper {
        width: 1000px;
        height: 300px;
        margin-top: -150px;
        margin-left: -500px;
    }
}
