/* no outline or underline on links */
a,
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

/* link colour transition */
a,
a:focus {
    color: #1986e6;
}

a:hover,
a:active {
    color: #ff8000;
}

footer a,
footer a:focus {
    color: #ffffff;
}

footer a:hover,
footer a:active {
    color: #141414;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #777777;
}

a,
.social-icon .fa,
#to-top {
    transition-duration: 300ms;
    transition-timing-function: linear;
}

/* link shadow */
@media only screen and (min-width: 768px) {
    /* for desktop */
    a:hover,
    a:active {
        text-shadow: 1px 1px #efefef, 2px 2px #cccccc;
    }
}

.btn:hover,
.btn:active,
.navbar a:hover,
.navbar a:active,
footer a:hover,
footer a:active {
    text-shadow: none;
}

/* responsive image size */
img {
    max-width: 100%;
}

/* to top button */
#to-top {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
    background-color: #3399ff;
    color: #ffffff;
}

#to-top:hover {
    opacity: 1;
}

#to-top span {
    width: 40px;
    text-align: center;
    margin-top: 12px;
}

#to-top.affix {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

#to-top.affix-bottom {
    position: absolute;
    right: 40px;
}

/* navbar colour */
nav .nav > li:hover,
nav .nav > li:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 300ms;
}

/* display dropdown menu when hovering */
@media only screen and (min-width: 768px) {
    /* for desktop */
    .navbar-nav > li:hover .dropdown-menu {
        display: block;
    }
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}

/* footer */
footer {
    background-color: #3399ff;
    color: #ffffff;
    padding: 20px 40px;
    margin-top: 20px;
    text-align: left;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer p {
    display: inline;
}

footer .social-icon {
    float: right;
    margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    footer {
        padding: 10px 20px;
        font-size: 12px;
    }
}

/* social icon */
.social-icon .fa:hover {
    color: #141414;
}

/* index item */
.index-item {
    display: none;
}

/* fullpage */
#fp-nav ul li a span {
    background-color: black;
}

#fullpage .section {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    #fp-nav {
        display: none;
    }

    #fullpage .section {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* me */
.me {
    color: #aee2d9;
}

.me h1,
.me h2,
.me h3,
.me h4,
.me h5,
.me h6 {
    color: #f0f2f5;
}

.me #pageview {
    color: #333333;
    font-size: 0.8em;
}

.me {
    font-size: 1.2em;
}

.me h1 {
    text-shadow: 1px 2px #1986e6, 2px 4px #aee2d9;
    text-align: center;
    font-weight: 600;
    font-size: 3.5em;
}

.me #desc {
    margin: 1em 0 0.25em 0;
}

.me #avatar {
    width: 200px;
    height: 200px;
    border: 10px solid #aee2d9;
    border-radius: 20%;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    .me #avatar {
        width: 160px;
        height: 160px;
    }
}

.me .nav > li > a,
.me .nav > li > a:hover,
.me .nav > li > a:active,
.me .nav > li > a:focus {
    background-color: transparent;
}

.me .nav-pills > li.active > a,
.me .nav-pills > li.active > a:hover,
.me .nav-pills > li.active > a:active,
.me .nav-pills > li.active > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.me #lang {
    display: inline-block;
}

.me a,
.me a:focus {
    color: #004d99;
}

.me a:hover,
.me a:active {
    color: #66ffff;
}

.me a:hover,
.me a:active {
    text-shadow: none;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    .me {
        font-size: 1em;
    }

    .me h1 {
        font-size: 2em;
    }

    .me h4 {
        font-size: 1.2em;
    }
}

/* status */
.status span {
    font-weight: bold;
}

.status ul {
    list-style-position: inside;
}

.mystatus span,
.mystatus span:hover,
.mystatus span:active,
.mystatus a:hover,
.mystatus a:active {
    color: green;
}

.yourstatus span,
.yourstatus span:hover,
.yourstatus span:active {
    color: red;
}

#clock {
    color: green;
    font-size: 24px;
}

#clock > div {
    padding: 10px;
    display: inline-block;
}

/* changelog */
.changelog h1 {
    color: #1986e6;
    text-shadow: 1px 1px #efefef, 3px 3px #b3cee6;
    font-weight: 600;
}

.changelog h3 {
    color: #666666;
    font-weight: 900;
}

/* project */
.project h1 {
    color: #1986e6;
    text-shadow: 1px 1px #efefef, 3px 3px #b3cee6;
    font-weight: 600;
}
