/* no outline or underline on links */
a,
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

/* link colour transition */
a,
a:focus {
    color: #1986e6;
}

a:hover,
a:active {
    color: #ff8000;
}

footer a,
footer a:focus {
    color: #ffffff;
}

footer a:hover,
footer a:active {
    color: #141414;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #777777;
}

a,
.social-icon .fa,
#to-top {
    transition-duration: 300ms;
    transition-timing-function: linear;
}

/* link shadow */
@media only screen and (min-width: 768px) {
    /* for desktop */
    a:hover,
    a:active {
        text-shadow: 1px 1px #efefef, 2px 2px #cccccc;
    }
}

.btn:hover,
.btn:active,
.navbar a:hover,
.navbar a:active,
footer a:hover,
footer a:active {
    text-shadow: none;
}

/* responsive image size */
img {
    max-width: 100%;
}

/* to top button */
#to-top {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
    background-color: #3399ff;
    color: #ffffff;
}

#to-top:hover {
    opacity: 1;
}

#to-top span {
    width: 40px;
    text-align: center;
    margin-top: 12px;
}

#to-top.affix {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

#to-top.affix-bottom {
    position: absolute;
    right: 40px;
}

/* navbar colour */
nav .nav > li:hover,
nav .nav > li:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 300ms;
}

/* display dropdown menu when hovering */
@media only screen and (min-width: 768px) {
    /* for desktop */
    .navbar-nav > li:hover .dropdown-menu {
        display: block;
    }
}

/* ads panel */
.ads-panel-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}

/* footer */
footer {
    background-color: #3399ff;
    color: #ffffff;
    padding: 20px 40px;
    margin-top: 20px;
    text-align: left;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer p {
    display: inline;
}

footer .social-icon {
    float: right;
    margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    footer {
        padding: 10px;
        font-size: 10px;
    }
}

/* social icon */
.social-icon .fa:hover {
    color: #141414;
}

/* index item */
.index-item {
    display: none;
}

/* fullpage */
#fp-nav ul li a span {
    background-color: black;
}

#fullpage .section {
    padding-left: 80px;
    padding-right: 80px;
}

.fp-controlArrow {
    margin-top: -88px;
}

.fp-prev {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    #fp-nav {
        display: none;
    }

    #fullpage .section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .fp-controlArrow.fp-next {
        right: 2px;
        border-width: 14px 0 14px 12px;
    }

    .fp-controlArrow.fp-prev {
        left: 2px;
        border-width: 14px 12px 14px 0;
    }

    .fp-controlArrow {
        margin-top: -44px;
    }

    .fp-prev {
        display: block;
    }
}

/* me */
.me {
    color: #b3e6dd;
}

.me h1,
.me h2,
.me h3,
.me h4,
.me h5,
.me h6,
.me li {
    color: #f0f2f5;
}

.me .end {
    color: #222222;
    font-size: 0.8em;
}

.me {
    font-size: 1.2em;
}

.me h1 {
    text-align: center;
    font-weight: 800;
    font-size: 3.5em;
}

@media only screen and (min-width: 768px) {
    /* for desktop */
    .me h1 {
        text-shadow: 1px 1px #146bb8, 2px 3px #90d5c9;
    }
}

.me h2 {
    font-weight: 600;
    font-size: 2em;
}

.me h4 {
    margin: 0.6em 0 0.2em 0;
}

.me p {
    margin: 0 0 0.2em 0;
}

.me #desc {
    margin: 1em 0 -0.4em 0;
}

.me #avatar {
    width: 200px;
    height: 200px;
    border: 10px solid #aee2d9;
    border-radius: 20%;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    .me #avatar {
        width: 120px;
        height: 120px;
        border: 6px solid #aee2d9;
    }
}

.me .nav > li > a,
.me .nav > li > a:hover,
.me .nav > li > a:active,
.me .nav > li > a:focus {
    background-color: transparent;
}

.me .nav-pills > li.active > a,
.me .nav-pills > li.active > a:hover,
.me .nav-pills > li.active > a:active,
.me .nav-pills > li.active > a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.me #lang {
    display: inline-block;
}

.me ol,
.me ul {
    padding-left: 15px;
}

.me ol.list-unstyled,
.me ul.list-unstyled {
    padding-left: 0px;
}

.me ol,
.me ul {
    list-style-position: inside;
}

.me table.skill-panel {
    margin: 10px auto;
}

.me table.skill-panel td {
    padding: 4px 0;
    vertical-align: middle;
}

.me table.skill-panel td:first-child {
    padding-right: 8px;
}

.me .tag {
    display: inline-block;
    background-color: #0d4073;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 1px 0;
    opacity: 0.6;
}

.me .familiar .tag {
    opacity: 0.8;
}

.me .good .tag {
    opacity: 1;
}

.me .love {
    color: #c20a0a;
}

.me a,
.me a:focus {
    color: #0d4073;
}

.me a:hover,
.me a:active {
    color: #66ffff;
}

.me a.highlight,
.me a.highlight:focus {
    color: #66ffff;
}

.me a.highlight:hover,
.me a.highlight:active {
    color: #0d4073;
}

.me .social-panel a,
.me .social-panel a:focus {
    color: #000000;
}

.me .social-panel a:hover,
.me .social-panel a:active {
    color: #ffffff;
}

.me a:hover,
.me a:active {
    text-shadow: none;
}

@media only screen and (max-width: 768px) {
    /* for tablet and small screen */
    .me {
        font-size: 1em;
    }

    .me h1 {
        font-size: 2.5em;
        margin: 0.6em 0 0.3em 0;
    }

    .me h2 {
        font-size: 1.8em;
        margin: 0.6em 0 0.3em 0;
    }

    .me h4 {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 420px) {
    /* for tablet and small screen */
    .me {
        font-size: 0.8em;
    }

    .me h1 {
        font-size: 2em;
        margin: 0.4em 0 0.2em 0;
    }

    .me h2 {
        font-size: 1.3em;
        margin: 0.4em 0 0.2em 0;
    }

    .me h4 {
        font-size: 1em;
    }
}

/* status */
.status span {
    font-weight: bold;
}

.status ul {
    list-style-position: inside;
}

.mystatus span,
.mystatus span:hover,
.mystatus span:active,
.mystatus a:hover,
.mystatus a:active {
    color: green;
}

.yourstatus span,
.yourstatus span:hover,
.yourstatus span:active {
    color: red;
}

#clock {
    color: green;
    font-size: 24px;
}

#clock > div {
    padding: 10px;
    display: inline-block;
}

/* changelog */
.changelog h1 {
    color: #1986e6;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    /* for desktop */
    .changelog h1 {
        text-shadow: 1px 1px #efefef, 2px 3px #b3cee6;
    }
}

.changelog h3 {
    color: #666666;
    font-weight: 900;
}

/* project */
.project h1 {
    color: #1986e6;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    /* for desktop */
    .project h1 {
        text-shadow: 1px 1px #efefef, 2px 3px #b3cee6;
    }
}
